.active {
    color: black;
    font-weight: bold;
}

.header{
    background-color: transparent;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-color: mintcream;
}

.navbar{
    border: 1px solid black;
    
}

h4{
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;  
}

a:hover { 
    background-color: lightcyan;
}

.nav-item a:hover {
    background-color: lightcyan;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:lightcyan;
}

.dropdown-menu, .dropdown-item{
    background-color: mintcream;
}
