.active {
    color: black;
    font-weight: bold;
}

.header{
    background-color: transparent;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-color: mintcream;
}

.navbar{
    border: 1px solid black;
    
}

h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;  
}

h6{
    text-align: center;
    padding-bottom: 20px;  
}

.nav-item a:hover {
    color: white !important;
    background-color: lightseagreen;
}

.dropdown-menu, .dropdown-item{
    background-color: mintcream;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.col-md-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
}

.btn:hover{
    background-color: lightseagreen !important;

}