body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 5000px;
}

h3 {
    text-align: center;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

#output {
    display: flex;
    align-items:center;
}

.wrapped {
    margin-top: 30px;
}
