<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Converter</title>
</head>

<body>
<h2>Convert Miles to Metric</h2>

@* Form inputs for entering miles and choosing a unit *@
<form action="Converter" method="get">
    <div class="container">
        <div class="row">
            @* Textbox for user's miles input *@
            <div class="col-md-6">
                <div class="form-group">
                    <label for="miles">Miles</label>
                    <input type="number" step="any" class="form-control" id="miles" name="miles" placeholder="Enter miles">
                </div>
            </div>

            @*Radio buttons for units of measurement*@
            <div class="col-md-6">
                <label>Select a metric:</label>
                <div class="radio">
                    <input type="radio" name="units" value="millimeters" checked>millimeters<br />
                </div>
                <div class="radio">
                    <input type="radio" name="units" value="centimeters">centimeters<br />
                </div>
                <div class="radio">
                    <input type="radio" name="units" value="meters">meters<br />
                </div>
                <div class="radio">
                    <input type="radio" name="units" value="kilometers">kilometers<br />
                </div>
            </div>
        </div>
        <div class="row centered">
            <button type="submit" class="btn btn-primary">Convert</button>
        </div>
    </div>
</form>

@* Only display output message if values given by user and output has been assigned *@
@if (ViewBag.OutputMessage != null)
{
    <div class="row">
        <div class="col-md-6">
            <h4>@ViewBag.OutputMessage</h4>
        </div>
    </div>
}
</body>
</html>