@model HW5.Models.TenantRequest

@{
    ViewBag.Title = "Confirmation Page";
}

<h2>Thanks @Model.FirstName for submitting your request!</h2>

Your confirmation number is @Model.RequestId and someone will contact you shortly regarding your request.
<br/>Please click @Html.ActionLink("here", "Requests", "Request") to view all current requests. 