@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Client Search</h2>
        <p>
            Please use this page to find details or contact information regarding people within the company or customers. 
        </p>
        <p><a class="btn btn-default" href="Client/Search">Client search &raquo;</a></p>
    </div>
</div>